@page "/Algoritm/Pages/KPI-PPI"
@rendermode InteractiveServer
@implements IDisposable

@using CLTI.Diagnosis.Client.Algoritm.Shared
@inject StateService StateService
@inject NavigationManager NavigationManager

<div class="page-container">
    <NavMenuAlgoritm />

    <!-- Main Content -->
    <div class="main-content">
        <div class="input-group">
            <div class="item-title">
                Значення КПІ (кісточково-плечовий індекс)
            </div>
            <div class="input-container">
                <input type="text"
                       @bind-value="kpiValueString"
                       @oninput="HandleKpiInput"
                       placeholder="Введіть значення"
                       class="input" />
            </div>
        </div>
        
        @if (HasKpiValue())
        {
@*             <div class="results-container">
                @if (StateService.ShowKpiNormal && StateService.PpiValue == 0)
                {
                    <div class="normal-message">
                        Значення КПІ є в нормі
                    </div>
                }
            </div> *@
                @if (StateService.ShowPpiField)
                {
                    @* <div class="warning-message">
                        Можлива кальцифікація артерій, необхідно додатково виміряти ППІ
                    </div> *@ 

                    <div class="input-group">
                        <div class="item-title">
                            Значення ППІ (пальце-плечовий індекс)
                        </div>
                        <div class="input-container">
                            <input type="text"
                                   @bind-value="ppiValue"
                                   @oninput="UpdatePpiValue"
                                   placeholder="Введіть значення"
                                   class="input" />
                        </div>
                    </div>

                    @if (StateService.ShowPpiNormal)
                    {
                        <div class="normal-message">
                            Значення ППІ в межах норми
                        </div>
                    }
                    @if (StateService.ShowPpiLow)
                    {
                        <div class="low-message">
                            Значення ППІ нижче норми. Необхідна додаткова діагностика.
                        </div>
                    }
                }

                @if (StateService.ShowKpiNormal && StateService.ShowPpiNormal)
                {
                    <div class="normal-message">
                        <span>Комбінація значень КПІ та ППІ є в межах норми</span>
                    </div>
                }
          
        }

        <div class="fixed-bottom-right">
            @if (StateService.CanContinue)
            {
                <button @onclick="Continue" class="fixed-btn continue-btn">Продовжити</button>
            }
            else if (!StateService.CanContinue)
            {
                <button @onclick="Finish" class="fixed-btn finish-btn">Закінчити</button>
            }
            else
            {
                <button disabled class="fixed-btn disabled-btn">Продовжити</button>
            }
        </div>
    </div>
</div>

@code {
}
