@page "/Algoritm/Pages/KPI-PPI"
@rendermode InteractiveServer
@implements IDisposable
@using CLTI.Diagnosis.Client.Algoritm.Services
@using CLTI.Diagnosis.Client.Shared
@using CLTI.Diagnosis.Client.Components
@using Microsoft.AspNetCore.Components
@inject StateService StateService
@inject NavigationManager NavigationManager

<div class="page-container">
    <NavMenuAlgoritm />

    <!-- Main Content -->
    <div class="main-content">
        <div class="input-group">
            <div class="item-title">
                Значення КПІ (кісточково-плечовий індекс)
            </div>
            <TextInput Value="@(StateService.KpiValue != 0 ? StateService.KpiValue.ToString() : kpiValueString)"
                       ValueChanged="HandleKpiInputChanged"
                       Placeholder="Введіть значення"
                       Theme="light"
                       State="default" />

        </div>

        @if (HasKpiValue())
        {
            @if (StateService.ShowKpiNormal)
            {
                <Message Text="Значення КПІ є в нормі"
                Theme="light"
                State="success"
                Size="normal" />
            }
            else if (StateService.ShowKpiLow)
            {
                <Message Text="Значення КПІ нижче норми. Виявлені стенози артерій."
                Theme="light"
                State="error"
                Size="normal" />
            }
            else if (StateService.ShowKpiHigh)
            {
                <Message Text="Значення КПІ вище норми. Можлива кальцифікація артерій, необхідно додатково виміряти ППІ."
                Theme="light"
                State="warning"
                Size="normal" />
            }

            @if (StateService.ShowPpiField)
            {
                <div class="input-group">
                    <div class="item-title">
                        Значення ППІ (пальце-плечовий індекс)
                    </div>
                    <TextInput Value="@ppiValue"
                    ValueChanged="HandlePpiInputChanged"
                    Placeholder="Введіть значення"
                    Theme="light"
                    State="default" />
                </div>

                @if (StateService.ShowPpiNormal)
                {
                    <Message Text="Значення ППІ в межах норми"
                    Theme="light"
                    State="success"
                    Size="normal" />
                }
                @if (StateService.ShowPpiLow)
                {
                    <Message Text="Значення ППІ нижче норми. Виявлена ішемія нижньої кінцівки."
                    Theme="light"
                    State="error"
                    Size="normal" />
                }
            }

            @if (StateService.ShowKpiNormal && StateService.ShowPpiNormal)
            {
                <Message Text="Комбінація значень КПІ та ППІ є в межах норми"
                Theme="light"
                State="success"
                Size="normal" />
            }
        }

        <div class="fixed-bottom-right">
            @if (StateService.CanContinue)
            {
                <Button Label="Продовжити"
                Variant="active"
                OnClick="Continue"
                Position="static" />
            }
            else if (StateService.NeedExit)
            {
                <Button Label="Закінчити та вийти"
                        Variant="active"
                        OnClick="Exit"
                        Position="static" />
            }
            else
            {
                <Button Label="Продовжити"
                Variant="disabled"
                        Disabled="true"
                        Position="static" />
            }
        </div>
    </div>
</div>
