@page "/Algoritm/Pages/WifI_results"
@rendermode InteractiveServer
@using CLTI.Diagnosis.Client.Shared
@using CLTI.Diagnosis.Client.Components
@inject StateService StateService
@inject NavigationManager NavigationManager

<div class="page-container">
    <NavMenuAlgoritm />
    <div class="main-content">
        <div class="page-title">
            Оцінка результатів <span>WIFI</span>
        </div>
    </div>
</div>