@page "/Algoritm/Pages/Wifi_I"
@rendermode InteractiveServer
@using CLTI.Diagnosis.Client.Shared
@using CLTI.Diagnosis.Client.Components
@inject StateService StateService
@inject NavigationManager NavigationManager

<div class="page-container">
    <NavMenuAlgoritm />
    <div class="main-content">
        <div class="page-title">
            Оцінка критерію <span>I</span> (WIFI)
        </div>

        <div class="input-group">
            <div class="item-title">
                Значення КПІ (кісточково-плечовий індекс)
            </div>
            <TextInput Value="@StateService.KpiValue.ToString()"
                       Placeholder="Введіть значення"
                       Theme="light"
                       State="default"
                       Disabled="true" />
        </div>

    </div>
</div>
