@page "/Algoritm/Pages/Wifi_I"
@rendermode InteractiveServer
@using CLTI.Diagnosis.Client.Shared
@using CLTI.Diagnosis.Client.Components
@inject StateService StateService
@inject NavigationManager NavigationManager

<div class="page-container">
    <NavMenuAlgoritm />
    <div class="main-content">
        <div class="page-title">
            Оцінка критерію <span>W</span> (WIFI)
        </div>
    </div>
</div>