@using Microsoft.AspNetCore.Components.Authorization

@inject StateService StateService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />



</head>
<body>

    <div class="frame-parent">
        <div class="logo-menu-1-parent">
            <img class="logo-menu-1-icon" src="Photo/logo-menu.png" alt="CLTI Diagnosis Logo">

            <div class="frame-wrapper">
                <div class="frame-group">
                    <div class="rectangle-parent">
                        <div class="frame-child">
                        </div>
                        <a href="/Algoritm/Pages/KPI-PPI" class="btn btn-primary">
                            <div class="component-7">
                                <div class="div">New patient</div>
                            </div>
                        </a>

                        <div class="frame-child">
                        </div>
                        <div class="component-8-parent">
                            <div class="component-7">
                                <div class="div">What is WiFI</div>
                            </div>
                            <div class="component-7">
                                <div class="div">What is CRAB</div>
                            </div>
                            <div class="component-7">
                                <div class="div">What is 2YLE</div>
                            </div>
                            <div class="component-7">
                                <div class="div">What is GLASS</div>
                            </div>
                        </div>
                        <div class="frame-child">
                        </div>
                        <div class="component-7">
                            <div class="div">Ask assistent</div>
                        </div>
                        <div class="frame-child">
                        </div>
                    </div>
                    <div class="component-12-parent">
                        <div class="component-7">
                            <div class="div">Source</div>
                        </div>
                        <div class="frame-child">
                        </div>
                        <div class="frame-container">
                            <div class="frame-div">
                                <img class="frame-icon" alt="User Icon" src="Photo/userIcon.png">

                                <div class="parent">
                                    <div class="div7">Користувач</div>
                                    <div class="usergmailcom">user@gmail.com</div>
                                </div>
                            </div>
                            <img class="caretdown-icon" alt="caret" src="Photo/CaretDown.png">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>