@page "/"
@using CLTI.Diagnosis.Client.Algoritm.Shared
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />



</head>
<body>
    <div class="page-container">
        <NavMenuHome />

    <div class="frame-parent">
        <div class="in-progress-cases-parent">
            <div class="in-progress-cases">In progress cases</div>
            <div class="frame-group">
                <div class="text-field-parent">
                    <div class="text-field">
                        <div class="name-surname">Олександр Ковальчук</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Марія Гончаренко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Андрій Литвин</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Ірина Шевченко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Максим Павленко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Катерина Бойко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Володимир Соловей</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Наталія Дьяченко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Роман Зінченко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Анастасія Мельник</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Юрій Савчук</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Ольга Ткаченко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Сергій Мороз</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Дарина Клименко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Богдан Кравчук</div>
                    </div>
                </div>
                <div class="text-field-parent">
                    <div class="text-field">
                        <div class="name-surname">Лідія Петренко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Артем Василенко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Вікторія Романюк</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-child">
        </div>
        <div class="in-progress-cases-parent">
            <div class="in-progress-cases">Done cases</div>
            <div class="frame-group">
                <div class="text-field-parent">
                    <div class="text-field">
                        <div class="name-surname">Дмитро Олійник</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Єлизавета Шаповал</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Назар Білик</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Тетяна Черненко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Владислав Куліш</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Алла Остапчук</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Ілля Яровий</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Христина Дуброва</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Антон Герасименко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Юлія Верес</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Степан Іванишин</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Валерія Завадська</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Марк Руденко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Олена Березюк</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Ігор Нестеренко</div>
                    </div>
                </div>
                <div class="text-field-parent">
                    <div class="text-field">
                        <div class="name-surname">Софія Костенко</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Еміль Шульц</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Сара Леві</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Алекс Картер</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Мішель Бонне</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Джон Сміт</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Лаура Гарсія</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Лука Россі</div>
                    </div>
                    <div class="text-field">
                        <div class="name-surname">Томас Мюллер</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



</body>
</html>

@* <a href="/Algoritm/Pages/KPI-PPI" class="btn btn-primary">Перейти до KPI-PPI</a> *@