.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: default; /* Змінюємо cursor, оскільки користувач не може взаємодіяти */
    user-select: none;
}

    .checkbox-container.interactive {
        cursor: pointer; /* Для випадків коли потрібна взаємодія */
    }

.checkbox-box {
    position: relative;
    width: 16px;
    height: 16px;
}

.checkbox-empty {
    border-radius: 4px;
    border: 1px solid #057cff;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

.checkbox-checked {
    border-radius: 4px;
    background-color: #057cff;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-sizing: border-box;
}

.done-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.checkbox-label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
}

/* Стилі для неактивних елементів */
.checkbox-container.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

    .checkbox-container.disabled .checkbox-label {
        color: #666;
    }
