@using Microsoft.AspNetCore.Components
<div class="@GetClass()">
    @if (IsHtml)
    {
        <div class="@TextClass" style="text-align: left;">
            @((MarkupString)Text)
        </div>
    }
    else
    {
        <div class="@TextClass" style="text-align: left;">
            @Text
        </div>
    }
</div>
