.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
}

.radio-circle {
    position: relative;
    width: 16px;
    height: 16px;
}

.radio-not-selected {
    border-radius: 50%;
    border: 1px solid #057cff;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}

.radio-selected {
    border-radius: 50%;
    border: 4px solid #057cff;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}

.radio-label {
    position: relative;
}
