@using CLTI.Diagnosis.Client.Components

<div class="sidebar-dropdown">

    <!-- Роздільна лінія -->
    <div class="component-1-child"></div>

    <!-- Заголовок дропдауна -->
    <div class="sidebar-toggle" @onclick="ToggleOpen">
        @Placeholder
        <img alt="caret"
             src="Photo/CaretDown.png"
             class="@(IsOpen ? "rotated" : "")" />
    </div>

    <!-- Список пунктів (якщо відкрито) -->
    @if (IsOpen)
    {
        <div class="sidebar-dropdown-list">
            @foreach (var item in Items)
            {
                <div class="checkbox-item">
                    <CheckBox Label="@item"
                              IsChecked="@GetItemCompletedStatus(item)"
                              IsCheckedChanged="@(async (bool value) => await OnItemStatusChanged(item, value))" />
                </div>
            }
        </div>
    }
</div>
