@using CLTI.Diagnosis.Client.Components

<div class="sidebar-dropdown">
    <div class="component-1-child"></div>
    <div class="sidebar-toggle" @onclick="ToggleOpen">
        @Placeholder
        <img alt="caret" src="Photo/CaretDown.png" class="@(IsOpen ? "rotated" : "")" />
    </div>

    @if (IsOpen)
    {
        <div class="sidebar-dropdown-list">
            @foreach (var item in Items)
            {
                <div class="checkbox-item">
                    <CheckBox Label="@item"
                              IsChecked="@GetItemCompletedStatus(item)"
                              IsCheckedChanged="@(async (bool value) => await OnItemStatusChanged(item, value))" />
                </div>
            }
        </div>
    }
</div>