<div class="text-field-input">
    <input class="@CssClass"
           style="@StyleString"
           placeholder="@Placeholder"
           @bind="Value"
           @bind:event="oninput"
           disabled="@Disabled" />
</div>
